nav{
    position:fixed;
    left:50%;
    transform: translateX(-50%);
    width:max-content;
    z-index: 2;
    bottom: 2rem;
    display:flex;
    justify-content: center;
    gap:1.5rem;
    padding:0.8rem 1.8rem;
    border-radius: 5rem;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(15px);
}

nav a{
    background: transparent;
    padding: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    border-radius: 2rem;
}
nav a:hover{
    color:var(--color-light);
    background: rgba(0,0,0,0.3);
}

nav a.active{
    background: rgba(0,0,0,0.3);
    color:var(--color-light)
}